<header>
  <nav>
    <a href="/">Tasklists</a>
    <button>
      <span></span>
    </button>

    <div>
      <ul>
        <% if logged_in? %>
        <li><a href="#"><%= current_user.name %></a></li>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
        <li><%= link_to 'Signup', signup_path, class: 'nav-link' %></li>
        <li><%= link_to 'Login', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>